@font-face {
    font-family: 'AlegreyaSans-Regular';
    src: url('file:///android_asset/fonts/AlegreyaSans-Regular.ttf');
}
body {
    font-family: 'AlegreyaSans-Regular';
    background: black;
    color: white;
    margin-top: 4px;
}
.album-img {
    display: block;
    height: auto;
    width: 150px;
}
.album-item {
    width: 150px;
    margin: 5px;
    display: inline-block;
    border: 1px solid gray;
}
.artist-text-item {
     white-space: nowrap;
     overflow: hidden;
}
.album-text-item {
     white-space: nowrap;
     overflow: hidden;
}
#album-container {
    text-align: center;
}
#track-container {
    width: 50%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
#track-container div:first-child {
    margin-top: 0 !important;
}
#track-container div:last-child {
    margin-bottom: 0 !important;
}
#cover-container{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    text-align: center;
}
#coverart-img {
    width: 80%;
    height: 80%;
    border: 1px solid gray;
}
.track-item {
    font-size: 110%;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    display: block;
    overflow: hidden;
}
.track-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.track-item-selected {
    color: black;
    background: white;
}
.file-type-box, .year-box {
    background: black;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
}
#audio-player {
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
}
audio::-webkit-media-controls-panel {
    background: transparent;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color: white;
}
