.album-item, .radio-item {
    border: 1px solid #F20017 !important;
}
.track-item {
    border: 1px solid #F20017 !important;
}
.file-type-box, .year-box {
    border: 1px solid #F20017 !important;
}

.a-selector span,
.a-selector-index div {
    background: #F20017 !important;
}

.coverart-img {
    border: 1px solid #F20017 !important;
}