.exitThemeView {
    background-color: var(--iconcol);
    color: var(--textcol);
    font-family: 'Material Design Icons';
    margin: 5px;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
}
.settableColor {
    display: inline-block;
    width: 70px;
    color: transparent;
    border: 1px solid white;
}

.settableColorActive {
    border: 1px dashed white;
}

.styleableItems {
    background: black;
    color: white;
    width: 100%;
    display: block;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 230%;
}

.pickerContainer {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.pickerContainer div {
    cursor: pointer;
    display: inline-block;
    width: 6.6%;
    line-height: 200%;
    box-sizing: border-box;
}